[submodule "third_party/sentinet_message_pkg"]
	path = third_party/sentinet_message_pkg
	url = https://github.com/curmc/sentinet_message_pkg
	branch = master
[submodule "third_party/sentinet_controller_pkg"]
	path = third_party/sentinet_controller_pkg
	url = git@github.com:sentinet_cpp/sentinet_controller_pkg
